
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------left bar-------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

.nav_m {
    width: 120px;
    height: 100vh;
    background: #333333;
}

.food_mm {
    margin-left: 20px;
    padding-top: 30px;
}

.burger_m {
    margin-top: 30px;
    margin-left: 20px;
}

.ytt {
    margin-top: 610px;
    margin-left: 40px;
}

.left-nav-bar {
    display: flex;
}
/* --------------------Nav bar--------------------- */

.h2_a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
}
.nav-a1 {
    display: flex;
    margin-top: 30px;
    margin-left: 1300px;
}
.account_a {
    font-size: 24px;
    margin-top: -5px !important; 
}
.nav-all {
    margin-left: 15px;
}
.shopping {
    font-size: 20px;
    margin-top: -3px !important;
}

li {
    list-style: none;
}
.menu_a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-left: 30px;
    
}
.ul_a {
    display: flex;
    margin-left: 5px;
    margin-top: 20px;
    margin-left: 200px;
    font-family: "Roboto", sans-serif;
}
.menu_a1::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 70px;
    margin-top: 20px;
}
.menu_a2::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a3::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a4::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a5::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a6::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a7::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a8::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a9::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a10::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a11::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a12::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a13::before {
    content: "";
    position: absolute;
    height: 3px; 
    background-color:#B59571;
    width: 0px;
    margin-top: 20px;
    transition: all .3s ease;
}
.menu_a2:hover::before {
    width: 31px;
}
.menu_a3:hover::before {
    width: 140px;
}
.menu_a4:hover::before {
    width: 80px;
}
.menu_a5:hover::before {
    width: 50px;
}
.menu_a6:hover::before {
    width: 56px;
}
.menu_a7:hover::before {
    width: 40px;
}
.menu_a8:hover::before {
    width: 123px;
}
.menu_a9:hover::before {
    width: 40px;
}
.menu_a10:hover::before {
    width: 41px;
}
.menu_a11:hover::before {
    width: 29px;
}
.menu_a12:hover::before {
    width: 57px;
}
.menu_a13:hover::before {
    width: 64px;
}

/* -------------------Menu----------------- */

.egg {
    width: 306px;
    height: 220px;
}
.text-egg {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-egg {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card1 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn1 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    
    color: white;
}

.omlet {
    width: 306px;
    height: 220px;
}
.text-omlet {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-omlet {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card2 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn2 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.cheesecakes {
    width: 306px;
    height: 220px;
}
.text-cheesecakes {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-cheesecakes {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card3 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn3 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.pancakes {
    width: 306px;
    height: 220px;
}
.text-pancakes {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-pancakes {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card4 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn4 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.porridge {
    width: 306px;
    height: 220px;
}
.text-porridge {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-porridge {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card5 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn5 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.scramble {
    width: 306px;
    height: 220px;
}
.text-scramble {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-scramble {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card6 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn6 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.egg1 {
    width: 306px;
    height: 220px;
}
.text-egg1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-egg1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card7 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn7 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.egg2 {
    width: 306px;
    height: 220px;
}
.text-egg2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-egg2 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card8 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn8 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.porridge1 {
    width: 306px;
    height: 220px;
}
.text-porridge1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 266px;
    text-align: center;
    height: 56px;
    margin-left: 10px;
    margin-top: 30px;
}
.price-porridge1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card9 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn9 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.salad {
    width: 306px;
    height: 220px;
}
.text-salad {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-salad {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card10 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn10 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}
.salad1 {
    width: 306px;
    height: 220px;
}
.text-salad1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 700;
    color: #333333;
    font-style: normal;
    width: 246px;
    text-align: center;
    height: 56px;
    margin-left: 12px;
    margin-top: 30px;
}
.price-salad1 {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 38.4px;
    font-weight: 700;
    color: #333333;
    margin-right:  130px;
    margin-top: 38px;
}
.card11 {
    width: 306px;
    height: 404px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}
.div-btn11 {
    width: 113px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #B59571;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin-left: 135px;
    margin-top: -38px;
    color: white;
}

.div-all {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: -800px;
    margin-left: 70px;
}
.card {
    margin-left: 20px;
    margin-top: 20px;
}
.fl {
    display: flex;
    margin-top: 150px;
    margin-left: 250px;
}

.map-m {
    display: flex;
    margin-top: 50px;
}

.two-m {
    font-weight: 700;
    font-size: 64px;    
    color: #B59571;
}

.min-m {
    font-weight: 700;
    font-size: 32px;
    color: #B59571;
}

.sank {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

.soat {
    margin-left: 50px;
    display: flex;
    margin-left: 200px;
}

.clock-1 {
    margin-top: 100px;
}

.clock-2 {
    margin-top: 50px;
}

.minmax {
    margin-top: 50px;
}

.mmm {
    display: flex;
    margin-top: 50px;
    margin-left: 400px;
}

.ttmm {
    margin-left: 50px;
}

.box-m {
    width: 400px;
    height: 300px;
    background: #5b5b5b;
    margin-top: 25px;
    position: absolute;
    left: 850px;
}

.snake {
    font-weight: 400;
    font-size: 16px;
    color: white;
}


.mbp {
    display: flex;
}

.mbp1 {
    display: flex;
    margin-top: 10px;
}

.ppp {
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

.src {
    margin-left: 10px;
}

.roboto {
    font-weight: 700;
    font-size: 20px;
}

.bron {
    width: 145px;
    height: 42px;
    background-color: #B59571;
}

.savol {
    width: 145px;
    height: 42px;
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
}

.footer-m {
    width: 100%;
    height: 120px;
    background-color: #333333;
    margin-top: 90px;
    display: flex;
}

.foodl {
    margin-left: 400px;
    padding-top: 35px;
}

.textk {
    margin-top: 50px;
    padding-left: 370px;
    color: white;
}

.de {
    color: white;
    margin-top: 50px;
    padding-left: 300px;
}

.Food1-m {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #333333;
}
.line-1 {
    width: 60px;
    height: 3px;
    background: #B59571;
    margin-top: 10px;
    margin-left: 20px;
}
/* -------------------------------------- */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    top: -32px;
  }
  
  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: rgb(181, 149, 113);
    margin-left: 135px;
    margin-top: -38px;
  }
  .btn-5:hover {
    color: rgb(181, 149, 113);
    background: transparent;
    box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(181, 149, 113);;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
    margin-top: 45px;
    
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
    margin-top: 25px;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  